@import url("main.css");

.threedot-expand {
    position: absolute;
    z-index: 10;
    border-radius: 10px;
    color: var(--text);
    background-color: var(--bg);
    width: 70vw;
    height: 40vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    user-select: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.threedot-expand .threedotitem {
    height: 100%;
    font-size: 1.3em;
    border-top: solid 1px gray;
    user-select: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-left: 40px;
}

#threedotheader {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    padding: 0 30px;

    
}
.collapsemodal span {
    font-size: 40px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.threedotitem {
    cursor: pointer;
    flex-flow: column!important;
    justify-content: center!important;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.collapse, .collapsemodal {
    display: block;
    max-height: 0px;
    overflow: hidden;
    opacity: 0;
    border: 1px solid var(--text);
    box-shadow: 5px 5px 1px var(--text);
}

.collapse {
    transition: max-height .3s cubic-bezier(0, 1, 0, 1);
}

.collapsemodal {
    transition: opacity .5s ease-in-out;
}

.collapse.show {
    max-height: 40vh;
    opacity: 1.0;
    transition: max-height .5s ease-in!important;
}

.collapsemodal.show {
    opacity: 1.0;
    max-height: 40vh;
    transition: opacity .5s ease-in-out!important;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    user-select: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#settingsmodal {
    position: absolute;
    background-color: var(--bg);
    width: 70vw;
    height: 40vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
    border-radius: 10px;
    padding: 0px 30px;
}

#openfilemodal {
    position: absolute;
    background-color: var(--bg);
    width: 70vw;
    height: 40vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
    border-radius: 10px;
    padding: 0px 30px;
}

#settingsmodal #settingsheader {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

#openfilemodal #openfileheader {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}


#settingsmodal .settingsitem {
    height: 100%;
    border-top: solid 1px gray;
    user-select: none;
    display: flex;
    flex-flow: column nowrap;
}

#settingsmodal .settingsitem #reset {
    border-radius: 5px;
    height: 40px;
    width: 80%;
    margin: 0 10%;
    background-color: rgb(253, 80, 80);
    color: white;
    font-weight: bolder;
    font-size: larger;
    box-shadow: 2px 2px 1px black;
    transition: background-color 0.5s ease,
                color 0.5s ease-out;
}

#settingsmodal .settingsitem #reset:hover {
    transition: background-color 0.5s ease,
                color 0.5s ease-out;
    background-color: white;
    color: rgb(253, 80, 80);
    font-weight: bolder;
    font-size: larger;
    box-shadow: 2px 2px 1px black;
}

#openfile .openfileitem {
    height: 100%;
    user-select: none;
    display: flex;
    flex-flow: column nowrap;
}

.theme-selector {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.theme-selector-item {
    cursor: pointer;
}

.file-menu {
    user-select: none;
    position: absolute;
    top: 12vh;
    background-color: var(--bg);
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: max-content;
    height: max-content;
    margin-top: 5px;
    border-radius: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.file-menu-item {
    font-family: "Fira Sans Extra Condensed";
    font-weight: bolder;
    font-size: 21px;
    padding: 5px 20px;
    cursor: pointer;
}

.options {
    font-family: "Fira Sans Extra Condensed";
    font-weight: bold;
    text-shadow: 1px 1px var(--text);
    user-select: none;
    cursor: pointer;
}

.options #file {
    border: 1px solid var(--text);
    box-shadow: 1px 1px var(--text);
}

.options #settings {
    border: 1px solid var(--text);
    box-shadow: 1px 1px var(--text);
}