@import url("main.css");

.threedot-expand {
    position: absolute;
    z-index: 10;
    border-radius: 10px;
    color: var(--text);
    background-color: var(--altfill);
    width: 70vw;
    height: 40vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    user-select: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.threedot-expand h1 {
    padding-left: 30px;
}

.threedot-expand .threedotitem {
    height: 100%;
    font-size: 1.3em;
    border-top: solid 1px gray;
    cursor: pointer;
    user-select: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-left: 40px;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.collapse, .collapsemodal {
    display: block;
    max-height: 0px;
    overflow: hidden;
    transition: max-height .5s cubic-bezier(0, 1, 0, 1);
}

.collapse.show {
    max-height: 99em;
    transition: max-height .5s ease-in-out;
}

.collapsemodal.show {
    max-height: 40vh;
    transition: max-height .5s ease-in-out;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    user-select: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#settingsmodal {
    position: absolute;
    background-color: gray;
    width: 70vw;
    height: 40vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
    border-radius: 10px;
}

.file-menu {
    user-select: none;
    position: absolute;
    top: 12%;
    background-color: var(--altfill);
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 10%;
    height: 10%;
    border-radius: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.file-menu-item {
    padding-left: 10px;
    cursor: pointer;
}