.default {
    --text: #242424;
    --fill: #81A18A;
    --bg: #BEEDCC;
    --altfill: #A3CCAF;
} 
.bee {
    --text: #3B3200;
    --fill: #FFDA00;
    --bg: #FAD400;
    --altfill: #BA9E00;
}
.haxxor {
    --text: #04FA00;
    --fill: #027A00;
    --bg: #013B00;
    --altfill: #03BA00;
}
.chalky {
    --text: #3B232F;
    --fill: #FA93C7;
    --bg: #FF96CB;
    --altfill: #03BA00;
}
/*haxxor, matte, pastel, chalky, caffiene*/