#themeable {
    transition: background 3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
                color 3s ease-in-out;
}

.default {
    --text: #242424;
    --fill: #81A18A;
    --bg: #BEEDCC;
    --altfill: #A3CCAF;
} 
.bee {
    --text: #3B3200;
    --fill: #FFDA00;
    --bg: #FAD400;
    --altfill: #BA9E00;
}
.haxxor {
    --text: #2e2e2e;
    --fill: #4aec47;
    --bg: #33ff4e;
    --altfill: #97ff8b;
}
.chalky {
    --text: #3B232F;
    --fill: #FA93C7;
    --bg: #FF96CB;
    --altfill: #fa96d4;
}
/*haxxor, matte, pastel, chalky, caffiene*/