body {
    height: 100%;
    display: grid;
    grid-template-rows: 11.5% 80.5%;
    row-gap: 1%;
    grid-template-columns: 1% auto auto 1%;
    overflow: hidden;
}

.header {
    grid-row: 1 / 2;
    grid-column: 1 / 5;
    width: 100%;
    margin: 0;
    border-bottom: solid 1px gray;
    display: flex;
    justify-content: center;
}

.header .brand {
    font-family: 'Abril Fatface', cursive;
    font-size: 52px;
    line-height: 55px;
    margin: 10px!important;
}

.header .options {
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
    height: max-content;
    top: 80px;
}

.header .options #status, .header .options #file,.header .options #settings {
    color: white;
    background-color: black;
    width: 70px!important;
    padding: 5px 0;
    text-align: center;
    margin: 3px;
}

.main {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    border-radius: 15px;
}

.main #mdin, .main #rightside {
    padding: 5%;
}

.main #mdin {
    background-color: wheat!important;
    white-space: normal;
    overflow-y: auto;
    width: 90%;
    height: 90%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.main #mdin:focus {
    outline: none;
}

.main #rightside {
    width: 90%;
    height: 90%;
    line-break: normal;
    overflow-y: auto;
    overflow-x: hidden;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: solid 1px gray;
    border-left-style: hidden;
    user-select: none;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
}

.main #rightside #htop a {
    text-decoration: none;
}

.main #rightside #htop hr {
    text-decoration: none;
}

.main #rightside #htop h1 {
    font-size: 1.8em;
}
  
.main #rightside #htop b {
    font-weight: 700;
}
  
.main #rightside #htop pre {
    overflow-y: scroll;
}